<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets.css" />
    <title>Document</title>
  </head>
  <body id="overview">
    <form action="/weekOverview" method="get">
      <button> <a id="homeButton" href="/wellness-links"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
      </svg>Home Page</a></button>
    </form>

    <nav id="yourWeek">
      <h1>Your Week</h1>
    </nav>
    <div id="rectangle">
      <h3>Mindfullness</h3>
      <% user.mindfullness.forEach(m => { %>
      <p><%= m.mindfullnessOption %> <%= m.dayOfWeekOption %></p>
      <form action="/mindfullness/<%= m._id %>?_method=DELETE" method="POST">
        <button type="submit">REMOVE</button>
      </form>
      <form action="/mindfullness/<%= m._id%>?_method=PUT" method="POST">
        <select name="mindfullnessOption">
            <% mindfullnessOptions.forEach(option => { %>
                <option value="<%= option %>"><%= option %></option>
            <% }) %>
        </select>
        <select name="dayOfWeekOption">
          <% weekOptions.forEach(dayOption => { %>
              <option value="<%= dayOption %>"><%= dayOption %></option>
          <% }) %>
      </select>
        <button type="submit">Update</button>
    </form>

      <% }) %>
    </div>

    <div id="rectangle">
      <h3>Movement</h3>
      <% user.movement.forEach(exercise => { %>
      <p><%= exercise.movementOption %></p>
      <form action="/movement/<%= exercise._id %>?_method=DELETE" method="POST">
        <button type="submit">REMOVE</button>
      </form>
      <form action="/movement/<%= exercise._id%>?_method=PUT" method="POST">
        <select name="movementOption">
            <% movementOptions.forEach(option => { %>
                <option value="<%= option %>"><%= option %></option>
            <% }) %>
        </select>
        <button type="submit">Update</button>
    </form>
      <% }) %>
    </div>
    <div id="rectangle">
      <h3>Sleep</h3>
      <% user.sleep.forEach(hour => { %>
      <p><%= hour.sleepOption %></p>
      <form action="/sleep/<%= hour._id %>?_method=DELETE" method="POST">
        <button type="submit">REMOVE</button>
      </form>
      <form action="/sleep/<%= hour._id%>?_method=PUT" method="POST">
        <select name="sleepOption">
            <% sleepOptions.forEach(option => { %>
                <option value="<%= option %>"><%= option %></option>
            <% }) %>
        </select>
        <button type="submit">Update</button>
    </form>
      <% }) %>
    </div>
  </body>
</html>
