<%- include('../views/partials/partials') %>

    
      
    
    <div id="rectangle">
      <h3>Mindfullness</h3>
      <% user.mindfullness.forEach(m => { %>
      <p><%= m.mindfullnessOption %> <%= m.dayOfWeekOption %></p>
      <form action="/mindfullness/<%= m._id %>?_method=DELETE" method="POST">
        <button type="submit">REMOVE</button>
      </form>
      <form action="/mindfullness/<%= m._id%>?_method=PUT" method="POST">
        <select name="mindfullnessOption">
            <% mindfullnessOptions.forEach(option => { %>
                <option value="<%= option %>"><%= option %></option>
            <% }) %>
        </select>
        <select name="dayOfWeekOption">
          <% weekOptions.forEach(dayOption => { %>
              <option value="<%= dayOption %>"><%= dayOption %></option>
          <% }) %>
      </select>
        <button type="submit">Update</button>
    </form>

      <% }) %>
    </div>

    <div id="rectangle">
      <h3>Movement</h3>
      <% user.movement.forEach(exercise => { %>
      <p><%= exercise.movementOption %></p>
      <form action="/movement/<%= exercise._id %>?_method=DELETE" method="POST">
        <button type="submit">REMOVE</button>
      </form>
      <form action="/movement/<%= exercise._id%>?_method=PUT" method="POST">
        <select name="movementOption">
            <% movementOptions.forEach(option => { %>
                <option value="<%= option %>"><%= option %></option>
            <% }) %>
        </select>
        <button type="submit">Update</button>
    </form>
      <% }) %>
    </div>
    <div id="rectangle">
      <h3>Sleep</h3>
      <% user.sleep.forEach(hour => { %>
      <p><%= hour.sleepOption %></p>
      <form action="/sleep/<%= hour._id %>?_method=DELETE" method="POST">
        <button type="submit">REMOVE</button>
      </form>
      <form action="/sleep/<%= hour._id%>?_method=PUT" method="POST">
        <select name="sleepOption">
            <% sleepOptions.forEach(option => { %>
                <option value="<%= option %>"><%= option %></option>
            <% }) %>
        </select>
        <button type="submit">Update</button>
    </form>
      <% }) %>
    </div>
  </body>
</html>
