<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets.css" />
    <title>Document</title>
  </head>
  <body id="overview">
    <form action="/weekOverview" method="get">
      <button type="menu">HOME PAGE</button>
    </form>

    <nav>
      <h1>Your Week</h1>
    </nav>
    <div id="rectangle">
       <% user.mindfullness.forEach(m => { %>
        <p><%= m.mindfullnessOption %></p>
        <form action="/mindfullness/<%= m._id %>?_method=DELETE" method="POST">
          <button type="submit">REMOVE</button>
        </form>
      </div>

    <% }) %> 
    
    <% user.movement.forEach(exercise => { %>
    <p><%= exercise.movementOption %></p>
    <form action="/movement/<%= exercise._id %>?_method=DELETE" method="POST">
      <button type="submit">REMOVE</button>
    </form>

    <% }) %>
    
    <% user.sleep.forEach(hour => { %>
    <p><%= hour.sleepOption %></p>
    <form action="/sleep/<%= hour._id %>?_method=DELETE" method="POST">
      <button type="submit">REMOVE</button>
    </form>

    <% }) %> 
    
    <% user.nourishment.forEach(n => { %>
    <p><%= n.nourishmentOption %></p>
    <form action="/nourishment/<%= n._id %>?_method=DELETE" method="POST">
      <button type="submit">REMOVE</button>
    </form>
    <% }) %>
  </body>
</html>
